#gameOver-screen {
    text-align: center;
    background-image: url("../Textures/gameOver.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: 1s opacity;
}

#gameOver-screen p {
    color: rgb(255, 0, 0);
    font-size: 120px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
