
#start-screen {
    text-align: center;
    background-image: url("../Textures/t3BG.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: 1s opacity;
}
#start-screen.hidden {
    opacity: 0;
    pointer-events: none;
    
}




#welcome-text {
    font-size: 144px;
    font-weight: bold;
    /* color: #ffffff; Cor do texto */
    margin-bottom: -20px;
}

.button {
    background-color: rgb(245, 0, 0); 
    border: none;
    /* color: white; */
    width: 400px; 
    height: 80px;
    text-align: center;
    font-size: 20px;
    border-radius: 24px;
    margin-top: 200px; /* Adicionado um espaço acima do botão */
    cursor: pointer;
}